.swiper-button-next,
.swiper-button-prev {
  color: #ffd12e;
  font-weight: bold;
  margin-top: 160px;
}

@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
